@{
    ViewBag.Title = "Home Page";
}

<div class="photo">
    <div class="space">
    </div>
    <div class="tagline">
        <h1>Anastasia's Blossoming Garden</h1>
        <p>Premium flowers. Discount prices. National florist.</p>
    </div>
</div>

<div class="about">
    <h2>About Us</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in pharetra lorem, eu consequat lacus. Donec sit amet elit et nisi posuere tincidunt a et quam. Sed porttitor venenatis erat sit amet pellentesque. Nam id vulputate quam, ut
        commodo augue. Nullam rhoncus diam est, at luctus elit scelerisque sit amet. Aliquam ligula dui, ornare id elit non, lacinia lobortis velit. Sed imperdiet mauris non rhoncus rhoncus. Pellentesque lobortis elementum justo, at finibus tellus
        porttitor at. Duis at augue pellentesque, facilisis mauris quis, tristique nunc. Aenean odio nulla, dignissim porta dui in, interdum luctus orci. Sed varius vitae metus in bibendum. Cras rhoncus justo id ultricies condimentum. Sed hendrerit
        turpis imperdiet, pulvinar lorem a, ultricies quam. Curabitur gravida vel mi vitae sagittis.
    </p>
</div>
